.headerNav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerUl {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      .headerItemText {
        padding: 10px;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-decoration: none;

        &:hover {
          color: #e2eee2;
        }
      }
    }

    .toggleThemeButton {
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        color: #e2eee2;
      }

      &:focus {
        outline: none;
      }
    }
  }
  .rightContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    .dropBoxButton {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #b4b4b4;
      background-color: #111111;
      border: none;
    }
    .dropBox {
      margin-right: 5%;
    }
  }