@import '../assets/_variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html, body {
    height: 100vh;
  }

  header, .mainContainer {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
  }
  
  @media (max-width: 799px) {
    .desctopHeader,.mobileHeader,.headerNav
    .mainContainer {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  @media (max-width: 799px) {
    .mainContainer {
      padding: 8%;
    }
  }
 
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  

  a {
    text-decoration: none;
   
  }
  
  .dark a {
    color: #b4b4b4; 
  }
  .dark h1 {
    color: #EEEEEE; 
  }

  p {
    text-decoration: none;
    color: #646464; 
  }
  
  .dark p {
    color: #EEEEEE; 
  }

  .light p{
    color: #202020;
  }

  .light a{
    color: #202020;
  }


  a:hover {
    text-decoration: underline;
  }
  

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
  ul, ol {
    list-style: none;
  }
  

 
  

  .text-center {
    text-align: center;
  }
  

  .text-right {
    text-align: right;
  }