* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html, body {
    height: 100%;
  }

  header, .mainContainer {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
  }
  
  @media (max-width: 799px) {
    .desctopHeader,.mobileHeader,.headerNav
    .mainContainer {
      padding-left: 2%;
      padding-right: 2%;
    }
  }
 
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  

  a {
    text-decoration: none;
    color: #646464; 
  }
  
  .dark a {
    color: #b4b4b4; 
  }

  p {
    text-decoration: none;
    color: #646464; 
  }
  
  .dark p {
    color: #b4b4b4; 
  }

  a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .hide {
    display: none !important;
  }
  

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
  ul, ol {
    list-style: none;
  }
  

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px;
  }
  

  .text-center {
    text-align: center;
  }
  

  .text-right {
    text-align: right;
  }