* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
    
  }
  
  html, body {
    height: 100%;
  }

  header, .mainContainer {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
  }
  
@media (max-width: 768px) {
  header,
  .mainContainer {
    padding-left: 5%;
    padding-right: 5%;
  }
}
  
 
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #eee;
  }
  

  a {
    text-decoration: none;
    color: #b4b4b4;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .hide {
    display: none !important;
  }
  

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
  ul, ol {
    list-style: none;
  }
  

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px;
  }
  

  .text-center {
    text-align: center;
  }
  
  /* Определение класса "текст по правому краю" */
  .text-right {
    text-align: right;
  }